<p id="notice"><%= notice %></p>

<h1>Questioner Forms</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>User</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questioner_forms.each do |questioner_form| %>
      <tr>
        <td><%= questioner_form.user.try(:name) %></td>
        <td><%= questioner_form.answer.try(:text) %></td>
        <td><%= link_to 'Show', questioner_form %></td>
        <td><%= link_to 'Edit', edit_questioner_form_path(questioner_form) %></td>
        <td><%= link_to 'Destroy', questioner_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questioner Form', new_questioner_form_path %>
