<p id="notice"><%= notice %></p>

<p>
  <strong>Ident name:</strong>
  <%= @question_group.ident_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question_group.name %>
</p>

<%= link_to 'Edit', edit_question_group_path(@question_group) %> |
<%= link_to 'Back', question_groups_path %> |
<%= link_to 'New Question Group', new_question_group_path %>
